extends layout

block content
	.container
		div.card
			div.card-header
				.row
			div.card-body
				div.tab-content
					div(class='tab-pane' id='core' role='tabpanel' aria-labelledby='core-tab')
					div(class='tab-pane' id='judge' role='tabpanel' aria-labelledby='judge-tab')
					div(class='tab-pane' id='user' role='tabpanel' aria-labelledby='user-tab')