extends layout

block content
	.container
		div.logo_holder.mx-auto.text-center
			img.img-fluid.d-inline-block(src='/images/CANE-ISLAND-ALERS-LOGO_d400.png', alt='Logo', width='35%')
			img.img-fluid.d-inline-block(src='/images/OpfermVI-hybrid_d400.png', alt='Logo', width='40%')
		h1 Welcome!
		p Welcome to the Cane Island Ailers AHA digital scoresheet app. Please use the menu above to navigate to your desired action.