extends layout

block content
	.container.mt-5(style="width: 30%; min-width: 250px;")
		form.form-signin(role='form', action='/login', method='post')
			h2.form-signin-heading Please sign in
			label.sr-only(for='inputEmail')
			input.form-control(type='text', name='email', id='inputEmail', placeholder='Email Address', required, autofocus)
			input.form-control(type='password', name='password', id='inputPassword', placeholder='Password')
			button.btn.btn-lg.btn-primary.btn-block(type='submit') LOGIN