extends layout

block content
	.container
		form.form-signin(role='form', action="/register", method="post", style='max-width: 300px;')
			h2.form-signin-heading Sign Up here
			input.form-control(type='text', name="forename", placeholder='First Name', value=(typeof fData === "undefined" ? "" : fData.forename))
			input.form-control(type='text', name="surname", placeholder='Last Name', value=(typeof fData === "undefined" ? "" : fData.surname))
			input.form-control(type='text', name="username", placeholder='Email Address', value=(typeof fData === "undefined" ? "" : fData.username))
			input.form-control(type='password', name="password", placeholder='Password')
			input.form-control(type='password', name="passwordC", placeholder='Confirm Password')
			sub (The following is optional but REQUIRED if judging)
			input.form-control(type='text', name="bjcp_id", placeholder='BJCP ID', value=(typeof fData === "undefined" ? "" : fData.bjcp_id))
			input.form-control(type='text', name="bjcp_rank", placeholder='BJCP Rank', value=(typeof fData === "undefined" ? "" : fData.bjcp_rank))
			input.form-control(type='text', name="cicerone_rank", placeholder='Cicerone Rank', value=(typeof fData === "undefined" ? "" : fData.cicerone_rank))
			input.form-control(type='text', name="pro_brewer_brewery", placeholder='Pro Brewer - Brewery', value=(typeof fData === "undefined" ? "" : fData.pro_brewer_brewery))
			input.form-control(type='text', name="industry_description", placeholder='Industry Description', value=(typeof fData === "undefined" ? "" : fData.industry_description))
			input.form-control(type='text', name="judging_years", placeholder='Judging Years', value=(typeof fData === "undefined" ? "" : fData.judging_years))

			button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up