* {
    font-family: Arial, sans-serif;
}
body {
    width: 742px;
    height: 957px;
}
.text_arial_black { font-family: "Arial Black", Gadget, sans-serif !important; }
.text_bold { font-weight: bold; }
.text_italic { font-style: italic; }
.text_larger { font-size: 150%; }
.text_normal { font-size: 60%; }
.text_small { font-size: 85% !important; }
.text_size_85 {font-size: 85% !important; }
.text_left { text-align: left; }
.text_right { text-align: right; }
.text_center { text-align: center; }
.float_left { float: left; }
.float_right { float: right; }
.mbot_5 { margin-bottom: 5px; }
.mtop_5 { margin-top: 5px; }
.mtop_15 { margin-top: 15px; }
.mbothx_5 { margin-left: 4px; margin-right: 4px; }
.border_solid_1 { border: 1px solid black; }
.border_bot_solid_1 { border-bottom: 1px solid black; }
.row { }
.display_iblock { display: inline-block; }
.lheight_normal { line-height: normal; }
.lheight_large { line-height: 22px; }
.pleft-5 { padding-left: 5px; }
.pbot_5 { padding-bottom: 5px; }
.ptop_5 { padding-top: 5px; }
.col { display: inline-block; font-size: 92%; }
.col_30 { width: 32%; }
.col_20 { width: 20%; }
.rev_para_indent { padding-left: 15px; text-indent: -15px; }
.text_multiline_underlines {
    display: block;
    background-image: linear-gradient(to top, black 1px, transparent 1px);
    background-size: 100% 2.25em;
    line-height: 2.25em;
}
div.scoring_guide .part1 {
    background-color: black;
    width: 5px;
    height: 80px;
    display: inline-block;
    float: left;
}
div.scoring_guide .part2 {
    background-color: black;
    color: white;
    display: inline-block;
    width: 8px;
    height: 69px;
    font-size: 8px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 5px 0 0 10px;
    margin-bottom: 5px;
    float: left;
}
.alignleft {
    float: left;
    width:33%;
    text-align:left;
}
.aligncenter {
    float: left;
    width:33%;
    text-align:center;
}
.alignright {
    float: left;
    width:33%;
    text-align:right;
}

div#primary_header {
    width:98%;
    height: 8%;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 2px solid black;
}
div.bjcp_badge,
div.aha_badge {
    height: 85%;
    float: left;
}
div.bjcp_badge img,
div.aha_badge img {
    max-width: 100%;
    max-height: 100%;
}
div.header_content {
    width: 80%;
    float: left;
    text-align: center;
    margin-top: 4%;
}
div.header_footer {
    height: 10%;
    width: 100%;
    float: left;
    font-size: 10px;
    font-weight: unset;
}
div#information_row {
    width:98%;
    height: 9%;
    padding: 1%;
}
div.judge_information {
    width: 38%;
    height: 80%;
    border-radius: 15px;
    border: 1px dashed black;
    padding: 8px;
    float: left;
}
div.entry_information {
    width: 59%;
    float: right;
}
div#column_container {
    width: 100%;
    height: 80%;
}
div#left_column {
    width: 39%;
    height: 85%;
    float: left;
    padding: 5px;
}
div#right_column {
    width: 57%;
    height: 85%;
    float: left;
    padding: 1%;
}
div#bottom_row {
    width: 100%;
}
div#bottom_row .left {
    width: 55%;
    float: left;
}
div#bottom_row .right {
    width: 45%;
    float: left;
}
div#primary_footer {
    height: 3%;
}