body {
  background-color: #eee !important;
}
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
  display: block;
  height: 0;
  overflow-y: hidden;
}
/* bootstrap hack end */
.list-group-item {
  user-select: none;
}
.list-group input[type="checkbox"] {
  display: none;
}
.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}
.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}
.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #0275d8;
  color: #fff;
}
.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}
.list-group input[type="radio"] {
  display: none;
}
.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
}
.list-group input[type="radio"] + .list-group-item:before {
  content: "\2022";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}
.list-group input[type="radio"]:checked + .list-group-item {
  background-color: #0275d8;
  color: #fff;
}
.list-group input[type="radio"]:checked + .list-group-item:before {
  color: inherit;
}
.link-style {
  color: #428bca !important;
  text-decoration: none;
}
.link-style:hover,
.link-style:focus {
  color: #2a6496 !important;
  text-decoration: underline;
  cursor: pointer;
}
.overflow-y-scroll {
  overflow-y: auto;
}
.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}
.quick-comments input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.quick-comments-list .badge [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.quick-comments-list .badge [data-role="remove"]:after {
  content: "×";
  padding: 0px 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 13px;
}
.quick-comments-list .badge [data-role="remove"]:hover:after {
  background-color: rgba(0, 0, 0, 0.62);
}
.quick-comments-list .badge [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* NOTE! MAKE SURE TO EDIT IN .styl FILE AND NOT .css FILE! */
